<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <title>Voice GPT</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/chat.js"></script>
</head>
<body>
    <div id="messagebox-wrapper">
        <div id="messagebox">
        </div>
    </div>
    <form id="form-panel" class="panel">
        <textarea type="input" id="messageinput" placeholder="Message" required></textarea>
        <button type="submit" id="submit">
            <svg width="26" height="20">
                <use xlink:href="/static/svg/submit.svg#id"/>
            </svg>
        </button>
    </form>
</body>
</html>